body {
  background-color: #047021;
}

  .container {
  
    display: flex;
  
    justify-content: center;
  
    background-color: #047021;
  
  }
  
  
  .sliders {
  
    display: flex;
  
   justify-content: space-around;

  }
  
  .btn {
    background-color: #b2b508;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
  }
  
  .twoBtn {
    background-color: #4b0968;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
  }



